/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
html {
    color: #333;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}






html, h1, h2, h3, h4, h5, h6, li, p, input {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

html {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    background: #0069bc;
    /*background: #333;*/
    text-align: center;
    font-family: Oswald, Tahoma, Calibri, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 17px;
    overflow-y: scroll;
    text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
body {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0 0.5em;
    font-weight: normal;
}
h1 {
    margin-top: 1em;
    font-size: 1.2em;
    text-transform: uppercase;
}
h2 { font-size: 2.4em; }
h3 {
    padding: 0.5em 0;
    margin: 2em 1em 1em;
    font-size: 1.3em;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: rgba(0,0,0,0.25);
}
h4 { font-size: 1.1em; }
h5 { font-size: 1em; }

p { font-weight: 300 }
a {
    text-decoration: none;
    color: #fff;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-collapse: collapse;
}

input {
    text-align: center;
    position: relative;
    padding: 1em 0.2em;
    background: rgba(255,255,255,0.2);
    width: 100%;
    border: none;
    outline: none;
    font-family: Calibri, Helvetica, sans-serif;
    color: #fff;
    box-sizing: border-box !important;
}
input:focus {
    background: rgba(255,255,255,1);
    color: #000;
}

aside, main {
    display: block;
}
aside {
    position: fixed;
    left: 0; top: 0;
    height: 100%;
    width: 15em;
    background: #333;
}
main {
    box-sizing: border-box;
    padding: 2em 0 2em 15em;
}




#loading {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 1;
    visibility: visible;
    background-color: #0069bc;
    /*background: #0069bc url(../loading.gif) 50% 50% no-repeat;*/
    -webkit-transition: 0.3s opacity;
    -moz-transition: 0.3s opacity;
    -ms-transition: 0.3s opacity;
    -o-transition: 0.3s opacity;
    transition: 0.3s opacity;
}
#loading.dormant {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s opacity 0s, 0s visibility 0.3s;
    -moz-transition: 0.3s opacity 0s, 0s visibility 0.3s;
    -ms-transition: 0.3s opacity 0s, 0s visibility 0.3s;
    -o-transition: 0.3s opacity 0s, 0.3s visibility 0s;
    transition: 0.3s opacity 0s, 0s visibility 0.3s;
}

#login, #logout, #userName {
    display: none;
    cursor: pointer;
    padding: 0.5em 0;
}
#userName {
    cursor: default;
}
#addCity {
    display: none;
    cursor: pointer;
    padding: 0.5em 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#mainTitle {
    position: relative;
    padding: 2em 0;
    width: 100%;
    display :block;
    margin: 0 auto;
}


#tempToggle {
    position: absolute;
    display: none;
    bottom: 0;
    width: 100%;
    color: #fff;
    cursor: pointer;
    background: rgba(255,255,255,0.15);
}
#tempToggle > * {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em 0 0.8em 0;
    text-align: center;
    width: 50%;
    transition: 0.4s all;
}
#tempToggle > *:hover {
    background: rgba(255,255,255,0.2);
}
#tempToggle > *.active, #tempToggle > *.active:hover {
    background: rgba(255,255,255,0.5);
}


.temperature .val:after, .apparentTemperature .val:after, .tempBar .low:after,.tempBar .high:after {
    content: '°';
}




#results {
    display: none;
}
#userAlert {
    display: none;
    padding: 0.5em 0;
}


#currently, #forecastSummary {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

#currently .icon, #currently .temperature {
    display: inline-block;
    vertical-align: bottom;
    font-size: 2.5em;
}
#currently .temperature {
    font-size: 4em;
    /*line-height: 1em;*/
    margin-top: -0.2em;
}
#currently canvas {
    height: 2em;
    width: 4em;
    margin: 0 -0.8em;
}



#forecastSummary ul {
    width: 80%;
    max-width: 500px;
    margin: -0.3em auto 0;
    text-align: left;
}
#forecastSummary .label {
    display: block;
    padding: 0.5em 0 0;
    line-height: 1em;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
}

#next7Days ul {
    display: table;
    font-size: 1em;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    border-top: 1px solid #bbb;
    background: rgba(0,0,0,0.1);
}
#next7Days li {
    display: table-row;
    margin: 0 auto;
    border-bottom: 1px solid #bbb;
}
#next7Days li > div, #next7Days canvas {
    padding: 1em 2%;
    display: table-cell;
    vertical-align: middle;
}
.dayOfWeek {
    width: 2.8em;
    min-width: 60px;
    text-align: right;
    font-weight: normal;
    text-transform: uppercase;
}
.dayDescription {
    text-align: left;
}
#next7Days .high, #next7Days .low {
    padding: 0 2px;
    /*width: 30px;*/
    width: 15%;
    text-align: right;
}
#next7Days .high {
    text-align: left;
    margin-left: 2px;
}

#next7Days .tempBar {
    text-align: left;
    min-width: 210px;
    width: 30%;
}
#next7Days .tempBar > span {
    display: inline-block;
}
#next7Days .tempBar .bar {
    display: inline-block;
    margin: 0 2px -1px;
    min-width:2px;
    height: 0.95em;
    border-radius: 0.5em;
    border: 1px solid #fff;
    background: rgba(255,255,255,0.6);
}

#next7Days canvas {
    height: 2em;
    width: 4em;
    min-width: 60px;
    /*margin: 0 -0.8em;*/
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.2em 0;
    text-align: center;
    background: #000;
}
#footerInner {
    position: relative;
    width: 90%;
    display: inline-block;
    text-align: right;
    font-size: 0.8em;
}



.errorMessage {
    display: none;
}
.errorMessage:before {
    content: "Please enter a valid Zip Code.";
    display: block;
}





@media (max-width:1200px) {
    body {
        padding: 0;
    }

    h3 {
        margin: 2em 0 1em;
    }

    #forecastSummary ul {
        text-align: center;
    }
}
@media (max-width:850px) {

    h1 {
        margin: 0 auto;
    }
    h2 {
        margin-top: 1em;
    }
    #mainTitle {
        padding: 1em 0;
    }
    input {
        padding: 0.7em 0.2em;
    }
    aside, main, #tempToggle {
        display: block;
        padding: 0;
        position: relative;
        width: 100%;
    }
    #tempToggle {
        display: none;
    }
    aside {
        height: auto;
        background: #333;
    }
}




@media (max-width:700px) {

    #currently, #forecastSummary, #next7Days {
        display: block;
        width: 100%;
    }

    h3 {
        margin-top: 2em;
        width: 100%;
        font-size: 1.6em;
    }
    #forecastSummary ul, #next7Days ul {
        width: 90%;
    }
}







@media (max-width:600px) {
    header {
        position: relative;
        text-align: center;
    }
    #logo, nav {
        display: block;
        text-align: center !important;
        padding: 0.5em 0;
        float: none;
        width: auto;
    }
    #logo { padding-bottom: 0 }

    #next7Days ul {
        display: block;
        background: none;
        border: none;
    }
    #next7Days ul li {
        display: block;
        border: none;
        margin-bottom: 1em;
    }
    #next7Days ul li > * {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 1%;
    }
    #next7Days .dayOfWeek, #next7Days canvas {
        font-size: 1.3em;
        padding-bottom: 0;
    }
    #next7Days canvas {
        width: 4em;
        margin: 0 -0.7em;
    }
    #next7Days .dayDescription, #next7Days .tempBar {
        display: block;
        margin: 0 auto;
        padding: 0.3em 0;
        width: 90%;
        text-align: center;
    }
    #next7Days .tempBar {
        text-align: left !important;
        width: 80%;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }
    #next7Days .tempBar:before {
        content: '';
        display: inline-block;
        width: 10%;
    }
}

@media(max-height:600px) {
    header {
        position: relative;
    }
}




















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
